<h3>Créditos:</h3>
<p>Autor: Cristino Ramírez</p>
<p><img src="images/author.jpg" width="100" /></p>
<p>Idea original: Juan Quemada Vives </p>
<p><a href="http://www.upm.es">Universidad Politécnica de Madrid</a></p>
